/*
dark
0a2c77
3f1a1c
*/

* {
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
}

body {
    color: #404040;
    font-family: 'Merriweather', sans-serif;
}

a {
    color: #44acc4;
    text-decoration: none;
}
a:hover {
    color: #44c480;
}

p {
    font-size: 14px;
    font-weight: lighter;
    letter-spacing: 2px;
    line-height: 1.6;
    margin-bottom: 20px;
}

h1,
h2,
h3,
h4,
h5 {
    font-family: 'Oswald', serif;
    letter-spacing: 12px;
    line-height: 1.1;
    text-transform: uppercase;
}

h1 {
    font-size: 48px;
}

h2 {
    font-size: 36px;
}

h3 {
    font-size: 28px;
}

h4 {
    font-size: 24px;
}

h5 {
    font-size: 18px;
}

.subheading {
    color: #c1c1c1;
    font-size: 18px;
    font-weight: bold;
    letter-spacing: 2px;
}

.button {
    background: #ed2624;
    border: 2px solid #ed2624;
    color: #fff;
    display: inline-block;
    font-size: 22px;
    line-height: 1.2;
    padding: 5px 15px;
}
.button.hollow {
    background: transparent;
    color: #ed2624;
}
.button.blue {
    background: #25419b;
    border: 2px solid #25419b;
}
.button.blue.hollow {
    background: transparent;
    color: #25419b;
}

.separator-top {
    position: relative;
}
.separator-top::before {
    border: 2px solid #ed2624;
    content: '';
    display: block;
    margin: 90px auto;
    width: 90px;
}

/*
* Text alignments
*/

.align-center {
    text-align: center;
}
.align-right {
    text-align: right;
}

/*
* Structural
*/

.row {
    margin: 0 auto;
    max-width: 1240px;
    padding: 0 20px;
}

#container {
    margin-top: 61px;
}

/*
* Forms
*/

input[type="text"],
input[type="tel"],
input[type="email"],
input[type="password"] {
    border: 0;
    border-bottom: 1px solid #4d4d4d;
    font-size: 16px;
    height: 30px;
}
input[type="text"]:focus,
input[type="tel"]:focus,
input[type="email"]:focus,
input[type="password"]:focus,
textarea:focus {
    outline: 0;
}

.input-wrapper {
    margin-bottom: 20px;
    width: 100%;
}
.input-wrapper input,
.input-wrapper button,
.input-wrapper select,
.input-wrapper textarea {
    width: 100%;
}
.input-wrapper textarea {
    margin-top: 10px;
}
.input-wrapper label {
    font-size: 12px;
}

button,
.button,
input[type="submit"] {
    background: transparent;
    border: 1px solid #4d4d4d;
    font-size: 16px;
    line-height: 22px;
    padding: 0 30px;
}


.icon {
	margin-bottom: 45px;
}

/*
* Mobile helpers
*/

.tablet-show,
.mobile-show {
    display: none;
}
@media all and (max-width: 780px) {
    .tablet-show {
        display: block;
    }
}
@media all and (max-width: 640px) {
    .mobile-show {
        display: block;
    }
}