/********************************************************************
* Footer CSS
********************************************************************/

#footer {
	text-align: center;
	margin: 60px 0 45px 0;
}

#footer #footer-logo {
	filter: invert(70%);
    -webkit-filter: invert(70%);
    margin-bottom: 60px;
    width: 130px;
}


#footer .contact span {
	font-weight: bold;
	margin: 0 20px;
}
#footer .social-links {
	display: inline-block;
}
#footer .social-links a {
	color: #404040;
	margin-right: 10px;
}
#footer .social-links a:last-child {
	margin-right: 0;
}

#footer .address {
	color: #a0a0a0;
	font-size: 16px;
	margin-top: 20px;
}