#header {
    background: #fff;
    left: 0;
    padding: 15px 0;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 20;
}
#header::after {
    background: url(../images/header-fade.png);
    background-size: 100% 81px;
    content: '';
    display: block;
    height: 81px;
    position: absolute;
    top: 61px;
    width: 100%;
}
#header.has-header::after {
    display: none;
}
#header.has-header.scroll::after {
    display: block;
}

#header .branding {
    float: left;
}
#header .branding img {
    filter: invert(70%);
    -webkit-filter: invert(70%);
    height: 30px;
    width: 139px;
}

#header #menu {
    overflow: hidden;
    position: relative;
}
#header #menu li {
    display: inline-block;
    line-height: 30px;
    margin-right: 45px;
}
#header #menu li:first-child a {
    border-left: 1px solid #4d4d4d;
    margin-left: 60px;
    padding-left: 45px;
}
#header #menu li:last-child {
    float: right;
}
#header #menu li:last-child a {
    border: 1px solid #4d4d4d;
    display: inline-block;
    float: right;
    height: 28px;
    padding: 0 30px;
}
#header #menu a {
    color: #4d4d4d;
    font-family: 'Merriweather', serif;
    font-size: 14px;
    font-weight: bold;
    letter-spacing: 2px;
    transition: 0.25s color linear;
}
#header #menu a:hover {
    color: #44c480;
}

#header #menu.cart-count-0 .cart-wrapper {
    display: none;
}
#header .cart-wrapper {
    font-size: 16px;
    position: absolute;
    right: 0;
    top: 5px;
}
#header #menu .cart-wrapper a {
    color: #44acc4;
}
#header .cart-wrapper i {
    margin-right: 2px;
}

@media all and (max-width: 860px) {
    #menu {
        display: none;
    }
    #mobile-menu {
        cursor: pointer;
        display: block;
        float: right;
        height: 30px;
        position: relative;
        width: 30px;
    }
    #mobile-menu div {
        border-top: 2px solid #4d4d4d;
        position: absolute;
        left: 0;
        width: 100%;
    }
    #mobile-menu div:first-child {
        top: 0;
    }
    #mobile-menu div:nth-child(2) {
        top: 10px;
    }
    #mobile-menu div:nth-child(3) {
        top: 20px;
    }
    .mobile-menu-expanded #header #menu {
        background: #fff;
        display: flex;
        flex-direction: column;
        justify-content: center;
        left: 0;
        min-height: calc(100vh - 62px);
        overflow: visible;
        padding-left: 20px;
        position: fixed;
        top: 62px;
        width: 100%;
        z-index: 10;
    }
    .mobile-menu-expanded #header .menu-header-container {
        width: 100%;
    }
    .mobile-menu-expanded #header #menu li {
        line-height: 2.5;
        margin: 0;
        width: 100%;
    }
    .mobile-menu-expanded #header #menu li a {
        font-size: 22px;
    }
    .mobile-menu-expanded #header #menu li:first-child a {
        border-left: 0;
        margin-left: 0;
        padding-left: 0;
    }
    .mobile-menu-expanded #header #menu li:last-child {
        border-top: 1px solid #b5b5b5;
        margin-top: 50px;
        padding-top: 7px;
    }
    .mobile-menu-expanded #header #menu li:last-child a {
        border: 0;
        float: none;
        height: auto;
        padding: 0;
    }
    #header .cart-wrapper {
        top: -48px;
        right: 65px;
    }
    #header #menu .cart-wrapper a {
        font-size: 20px;
    }
}