/*
* Pages css
*/


.full-width {
	width: 100%;
}
.full-height {
	/* full height - header height */
	height: calc(100vh - 61px);
}
.has-bg {
	background-size: cover;
	background-position: top center;
}

.header + .content-column {
	margin-top: 60px;
}
.content-column {
	margin: 120px auto;
	max-width: 550px;
	padding: 0 20px;
}
.content-column.large {
	max-width: 800px;
}

.page-section {
	align-items: center;
	display: flex;
}
.page-section .wrapper {
	padding: 30px 60px 45px 60px;
	position: relative;
	width: 60%;
}
.page-section .wrapper .background {
	bottom: 0;
	left: 0;
	mix-blend-mode: multiply;
	position: absolute;
	top: 0;
	width: 100%;
	z-index: 1;
}
.page-section .wrapper .background.red {
	background: #e02d26;
}
.page-section .wrapper .content {
	color: #fff;
	position: relative;
	width: 100%;
	z-index: 2;
}
.page-section.content-left .content {
	float: right;
}
.page-section.content-right .content {
	float: left;
}
.page-section.content-left .wrapper {
	padding-left: calc(50vw - 615px);
}
.page-section.content-right .wrapper {
	padding-right: calc(50vw - 615px);
}

.page-section .wrapper .content h1,
.page-section .wrapper .content h2 {
	font-size: 44px;
	margin-bottom: 15px;
}


/********************************************************************
* Page Headers
********************************************************************/

#page-header {
	align-items: center;
	display: flex;
	height: 400px;
	margin-bottom: 80px;
	overflow: hidden;
	position: relative;
	width: 100%;
}
#page-header img {
	position: absolute;
	width: 100%;
	z-index: 9;
}
/*
#page-header #header-text {
	position: absolute;
	text-align: center;
	width: 100%;
	z-index: 10;
}
#page-header #header-text {
	color: #fff;
	display: inline-block;
}
#page-header .background {
	height: 70px;
	mix-blend-mode: multiply;
	position: absolute;
}
#page-header .background::after {
	color: transparent;
	content: attr(data-text);
	display: inline-block;
	font-family: 'Oswald', serif;
	font-size: 48px;
    letter-spacing: 12px;
    line-height: 70px;
    text-transform: uppercase;
    width: calc(50vw + 50% + 45px);
}
#page-header .background.red::after {
	background: #e02d26;
}
#page-header .background.blue::after {
	background: #44acc4;
}
#page-header .background.green::after {
	background: #44c480;
}
*/

.header {
	height: 70px;
	margin: 120px 0 70px 0;
}
#page-header.header {
	margin: 0;
}
.header.right .background {
	right: 0;
}
.header.right .background::after {
	float: right;
}
.header .header-text {
	color: #fff;
	display: inline-block;
	position: absolute;
	text-align: center;
	width: 100%;
	z-index: 10;
}
.header .header-text h1,
.header .header-text h2 {
	font-size: 48px;
	line-height: 70px;
}
.header .background {
	height: 70px;
	mix-blend-mode: multiply;
	position: absolute;
}
.header .background::after {
	color: transparent;
	content: attr(data-text);
	display: inline-block;
	font-family: 'Oswald', serif;
	font-size: 48px;
    letter-spacing: 12px;
    line-height: 70px;
    text-transform: uppercase;
    width: calc(50vw + 50% + 45px);
}
.header .background.red::after {
	background: #e02d26;
}
.header .background.blue::after {
	background: #44acc4;
}
.header .background.green::after {
	background: #44c480;
}

.entry-content .header .background {
	filter: brightness(50%);
	-webkit-filter: brightness(50%);
}



/********************************************************************
* Contact page
********************************************************************/

#contact-page {
	text-align: center;
}

#contact-page-social {
	margin-top: 60px;
}
#contact-page-social a {
	font-size: 24px;
	margin-right: 30px;
}
#contact-page-social a:last-child {
	margin-right: 0;
}

#contact-page #contact-form {
	margin-top: 60px;
	text-align: left;
}


/********************************************************************
* Modal
* ******************************************************************/

#modal {
	background: rgba(0, 0, 0, 0.75);
	display: none;
	height: 100vh;
	left: 0;
	position: fixed;
	top: 0;
	width: 100vw;
}


/********************************************************************
* Image content
* ******************************************************************/

.image-content {
	align-items: center;
	display: flex;
}
.image-content .image,
.image-content .content {
	flex: 1;
}
.image-content.margin {
	margin: 120px 0;
}

.image-content .image img {
	filter: grayscale(55%);
	-webkit-filter: grayscale(55%);
	padding-left: 60px;
	width: 100%;
}
.image-content .image.auto-width img {
	width: auto;
}

.image-content .content > div {
	float: right;
	padding-left: 20px;
	max-width: 620px;
}

.image-content h2 {
	font-weight: bold;
	letter-spacing: 6px;
	margin-bottom: 7px;
}
.image-content .subheading {
	font-weight: normal;
	margin-bottom: 35px;
}

.image-content.right {
	flex-direction: row-reverse;
}
.image-content.right .image img {
	padding-left: 0;
	padding-right: 60px;
}
.image-content.right .content > div {
	float: left;
	padding-left: 0;
	padding-right: 20px;
}


#sb_instagram .sb_instagram_header h3.sbi_no_bio {
	letter-spacing: 5px;
}

@media all and (max-width: 1240px) {
	.page-section.content-left .wrapper {
		padding-left: 20px;
	}
}

@media all and (max-width: 860px) {
	.page-section.content-left .wrapper {
		width: 100%;
	}
	
	.header {
		height: auto;
	}
	.header .header-text {
		position: relative;
		width: 100%;
	}
	.header .header-text h2 {
		font-size: 22px;
		letter-spacing: 5px;
		line-height: 2;
	}
	.header .background {
		width: 100%;
	}
	.header .background::after {
		font-size: 22px;
		letter-spacing: 5px;
		line-height: 2;
		width: 100%;
	}


	.image-content,
	.image-content.margin {
		margin: 0 auto 30px auto;
		max-width: 90%;
	}
	.image-content,
	.image-content.right {
		flex-direction: column-reverse;
	}
	.image-content .content {
		padding: 0;
	}
	.image-content img {
		margin-bottom: 30px;
		max-height: 200px;
	}
}

@media all and (max-width: 640px) {
	.page-section .wrapper .content h1,
	.page-section .wrapper .content h2 {
		font-size: 24px;
		letter-spacing: 5px;
	}
	.page-section .wrapper p {
		line-height: 1.2;
	}
}