/********************************************************************
* Woocommerce styles
********************************************************************/

.woocommerce-message {
	line-height: 1.6;
}

/*
* Products
*/

.woocommerce,
article.type-product,
.woocommerce-cart-form,
.woocommerce-message {
	max-width: 800px;
	margin: 120px auto;
}

@media all and (max-width: 840px) {
	.woocommerce,
	article.type-product,
	.woocommerce-cart-form,
	.woocommerce-message {
		padding: 0 20px;
	}
}

.woocommerce-message {
	margin-bottom: 50px;
}
.woocommerce-message + .woocommerce-cart-form {
	margin-top: 50px;
}

.product .entry-title {
	margin-bottom: 20px;
}
.product h1,
.product h2,
.product h3 {
	letter-spacing: 7px;
}

.woocommerce div.product p.price,
.woocommerce div.product span.price {
	color: #44acc4;
	font-weight: bold;
	margin-top: 95px;
}
.woocommerce #respond input#submit.alt,
.woocommerce a.button.alt,
.woocommerce button.button.alt,
.woocommerce input.button.alt,
.woocommerce #respond input#submit.alt.disabled,
.woocommerce #respond input#submit.alt.disabled:hover,
.woocommerce #respond input#submit.alt:disabled,
.woocommerce #respond input#submit.alt:disabled:hover,
.woocommerce #respond input#submit.alt:disabled[disabled],
.woocommerce #respond input#submit.alt:disabled[disabled]:hover,
.woocommerce a.button.alt.disabled,
.woocommerce a.button.alt.disabled:hover,
.woocommerce a.button.alt:disabled,
.woocommerce a.button.alt:disabled:hover,
.woocommerce a.button.alt:disabled[disabled],
.woocommerce a.button.alt:disabled[disabled]:hover,
.woocommerce button.button.alt.disabled,
.woocommerce button.button.alt.disabled:hover,
.woocommerce button.button.alt:disabled,
.woocommerce button.button.alt:disabled:hover,
.woocommerce button.button.alt:disabled[disabled],
.woocommerce button.button.alt:disabled[disabled]:hover,
.woocommerce input.button.alt.disabled,
.woocommerce input.button.alt.disabled:hover,
.woocommerce input.button.alt:disabled,
.woocommerce input.button.alt:disabled:hover,
.woocommerce input.button.alt:disabled[disabled],
.woocommerce input.button.alt:disabled[disabled]:hover {
	background: #44acc4;
	border-radius: 0;
	-moz-border-radius: 0;
	-webkit-border-radius: 0;
}
.woocommerce button.button.alt.disabled {
	opacity: 0.5;
}


#product-options {
	margin-bottom: 70px;
	margin-top: 15px;
}
#product-options label,
#product-options select {
	font-size: 16px;
}

#product-options select {
	appearance: none;
	-webkit-appearance: none;
	background: none;
	border: none;
	border-bottom: 1px solid #404040;
	border-radius: 0;
	-moz-border-radius: 0;
	-webkit-border-radius: 0;
	color: #404040;
	height: 30px;
	margin-top: 10px;
	padding-left: 25px;
}
#product-options .option {
	position: relative;
}
#product-options .option::before {
	border: 7px solid transparent;
	border-top: 7px solid #404040;
	content: '';
	display: block;
	position: absolute;
	top: 20px;
	left: 0;
}

.product .quantity input {
	height: 35px;
}

.woocommerce div.product form.cart {
	margin-bottom: 0;
}

.woocommerce div.product .woocommerce-tabs ul.tabs {
	padding: 0 0 0 5px;
}
.woocommerce div.product .woocommerce-tabs ul.tabs li {
	border-radius: 0;
	-moz-border-radius: 0;
	-webkit-border-radius: 0;
}




/*
* Shopping cart
 */

.woocommerce-cart-form {
	margin-bottom: 60px;
}
.woocommerce-cart-form h1 {
	margin-bottom: 20px;
}
.woocommerce-cart-form .coupon {
	width: 150px;
}
.woocommerce-cart-form .coupon input,
.woocommerce-cart-form .coupon button {
	margin-bottom: 7px !important;
	width: 100% !important;
}
.woocommerce #respond input#submit,
.woocommerce a.button,
.woocommerce button.button,
.woocommerce input.button,
.woocommerce #respond input#submit:hover,
.woocommerce a.button:hover,
.woocommerce button.button:hover,
.woocommerce input.button:hover {
	background: #44acc4;
	border-radius: 0;
	-moz-border-radius: 0;
	-webkit-border-radius: 0;
	color: #fff;
	font-weight: normal;
}
.woocommerce .cart-collaterals .cart_totals,
.woocommerce-page .cart-collaterals .cart_totals {
	float: none;
	max-width: 800px;
	margin: 0 auto;
	width: 100%;
}
.woocommerce-page .cart-collaterals .cart_totals h2 {
	margin-bottom: 20px;
}



/*
* Checkout
 */

.woocommerce .col2-set .col-1,
.woocommerce-page .col2-set .col-1,
.woocommerce .col2-set .col-2,
.woocommerce-page .col2-set .col-2 {
	margin-bottom: 50px;
	width: 100%;
}
.woocommerce form .form-row {
	margin-bottom: 25px;
}
.woocommerce form .form-row label {
	line-height: 1.6;
}
.woocommerce-billing-fields h3 {
	margin-bottom: 20px;
}

#ship-to-different-address span {
	display: inline-block;
	font-size: 16px;
	margin-bottom: 25px;
}

#order_comments_field label {
	margin: 50px 0 10px 0;
}




/*
* order details
 */

.woocommerce-order-details h2 {
	margin-bottom: 20px;
}
.woocommerce ul.order_details li {
	line-height: 1.6
	margin-bottom: 15px;
}
.woocommerce .woocommerce-customer-details address {
	line-height: 1.4;
}
.woocommerce .woocommerce-customer-details address p {
	margin-top: 15px;
}